<div class="columns mycard" >
    <!-- 練功環境介紹-->
    <div class="column card">
        <div class="card-header" >
            <p class="mymenu-title card-header-title title" >{{ cProgram.beginInfo.title }}</p>
        </div>
        <div class="card-content">
            <p>{{ cProgram.beginInfo.content }}</p>
            <p>
                <span class="icon is-medium is-info">
                    <i class="fab fa-windows"></i>
                </span>
                <span class="subtitle has-text-dark">Windows :</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ cProgram.beginInfo.windowsContent }}
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.codeblocks.org/">Code::Blocks官網</a></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://coder.tw/?p=3908">別人的Code::Blocks下載安裝教學</a></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.bloodshed.net/devcpp.html">Dev-C++官網</a></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://selfinquiring.hatenablog.com/entry/2016/03/18/204352/">別人的Dev-C++下載安裝教學</a></p>
            <p>
                <span class="icon is-medium is-warning">
                    <i class="fab fa-linux"></i>
                </span>
                <span class="subtitle has-text-dark">Linux :</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ cProgram.beginInfo.linuxContent }}
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://linux.vbird.org/linux_basic/0310vi.php#vi_vim_why">鳥哥的linux私房菜-vim程式編輯器</a></p>
        </div>
    </div>
</div>