<div>
    <div class="card-header" >
        <p class="mymenu-title card-header-title title" >{{ cProgram.practices.title }}</p>
    </div>
    <div class="card-content">
        <p class=" has-text-centered ">{{ cProgram.practices.content }}</p>
    </div>
    <div class="card-footer">
        <p class="card-footer-item">
            <button class="button is-link" ng-click="showDetails(1)">
                
                <span> Details</span> 
                <span class="icon is-medium">
                    <i class="fas fa-ellipsis-v"></i>
                </span>
            </button>
        </p>
    </div>
</div>